<footer>
    <p>
        <a href="mailto:will.kibel@wwwill.org" target="_blank">Email</a>
        &nbsp; &nbsp; &nbsp; <a href="https://github.com/willkbl" target="_blank">Github</a>
        &nbsp; &nbsp; &nbsp; <a href="https://www.linkedin.com/in/will-kibel/" target="_blank">LinkedIn</a>
        &nbsp; &nbsp; &nbsp; <a href="https://fkawill.itch.io" target="_blank">itch.io</a>
    </p>
    <p style="margin-top: -10px;">
        <a href="https://steamcommunity.com/id/fkaWill/" target="_blank">Steam</a>
        &nbsp; &nbsp; &nbsp; <a href="https://x.com/_adrast" target="_blank">Twitter</a>
        &nbsp; &nbsp; &nbsp; <a href="https://bsky.app/profile/fkawill.bsky.social" target="_blank">Bluesky</a>
    </p>
</footer>