<footer>
    <p>
        <a href="mailto:will.kibel@wwwill.org">Email</a>
        &nbsp; &nbsp; &nbsp; <a href="https://github.com/willkbl">Github</a>
        &nbsp; &nbsp; &nbsp; <a href="https://www.linkedin.com/in/will-kibel/">LinkedIn</a>
        &nbsp; &nbsp; &nbsp; <a href="https://fkawill.itch.io">itch.io</a>
    </p>
    <p style="margin-top: -10px;">
        <a href="https://steamcommunity.com/id/fkaWill/">Steam</a>
        &nbsp; &nbsp; &nbsp; <a href="https://x.com/_adrast">Twitter</a>
        &nbsp; &nbsp; &nbsp; <a href="https://bsky.app/profile/fkawill.bsky.social">Bluesky</a>
    </p>
</footer>