<header>
    <h1 class="site-title">wwwill | {{ title | default: "wwwill" }}</h1>
    <h3 class="site-nav">
        <a href="/index.html">home</a>
        &nbsp; &nbsp; &nbsp; <a href="/games/index.html">games</a>
        &nbsp; &nbsp; &nbsp; <a href="/music/index.html">music</a>
        &nbsp; &nbsp; &nbsp; <a href="/marketing/index.html">marketing</a>
        &nbsp; &nbsp; &nbsp; <a href="/blog/index.html">blog</a>
        &nbsp; &nbsp; &nbsp; <a href="/CV/index.html">CV</a>
        <!--&nbsp; &nbsp; &nbsp; <a href="/other/index.html">other</a>-->
    </h3>
</header>