<header>
    <h1 class="site-title">wwwill | {{ title | default: "wwwill" }}</h1>
    <h3 class="site-nav" style="font-family: Roboto Slab, Oswald, Segoe UI, sans-serif;;">
        <a href="/index.html" target="_self">home</a>
        &nbsp; &nbsp; &nbsp; <a href="/games/index.html" target="_self">games</a>
        &nbsp; &nbsp; &nbsp; <a href="/music/index.html" target="_self">music</a>
        &nbsp; &nbsp; &nbsp; <a href="/game-audio/index.html" target="_self">game audio</a>
        &nbsp; &nbsp; &nbsp; <a href="/marketing/index.html" target="_self">marketing</a>
        &nbsp; &nbsp; &nbsp; <a href="/blog/index.html" target="_self">blog</a>
        &nbsp; &nbsp; &nbsp; <a href="/CV/index.html" target="_self">CV</a>
        <!--&nbsp; &nbsp; &nbsp; <a href="/other/index.html">other</a>-->
    </h3>
</header>