<!doctype html>
<!--
If you're looking at my HTML, I AM SO SORRY. This is my first web dev project in YEARS.
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
		<base target="_blank">
	</head>
	<body>
		<div class="container">
			{% include "header.html" %}

			<main>
				{{ content }}
			</main>
			
			{% include "footer.html" %}
		</div>
	</body>
</html>