<!doctype html>
<!--
If you're looking at my HTML, I AM SO SORRY. This is my first web dev project in YEARS.
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css">
		<title>wwwill kibel | {{ title | default: "wwwill kibel" }}</title>
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	</head>
	<body>
		<div class="container">
			<header>
				<h1>wwwill | {{ title | default: "wwwill" }}</h1>
				<!--
				nav links
				-->
				<h3>
					<a href="/index.html">home</a>
					&nbsp; &nbsp; &nbsp; <a href="/blog/index.html">blog</a>
				</h3>
			</header>
			<main>
				{{ content }}
			</main>
			<footer> <!--this is so sloppy rn-->
				<p>
					<a href="mailto:will.kibel@wwwill.org" target="_blank">Email</a>
					&nbsp; &nbsp; &nbsp; <a href="https://github.com/willkbl" target="_blank">Github</a>
					&nbsp; &nbsp; &nbsp; <a href="https://www.linkedin.com/in/will-kibel/" target="_blank">LinkedIn</a>
				</p>
			</footer>
		</div>
	</body>
</html>