.container {
    /*
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 400px;
    margin-left: 400px;
    min-width: 500px;
    */
}
body {
    background-color: rgb(56, 34, 78);
    color: rgb(255, 255, 255);
    font-family: "Nunito Sans", 'Segoe UI', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 100%;
    margin: 0px;
    padding: 1rem;
}
body > * {
    margin-inline: auto;
    width: min(800px, 100%);
}
a {
    color: rgb(255, 255, 255);
}
.site-title {
    text-align: center;
    margin-bottom: -10px;
}
.site-nav {
    text-align: center;
}
h1 {
    font-family: "Oswald", "Segoe UI", sans-serif;
    font-weight: 400;
}
h2 {
    text-align: center;
}
h4 {
    font-size: large;
}
h5 {
    margin-top: -20px;
}
footer {
    text-align: center;
    font-variant-caps: normal;
}
img, image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
    height: auto;
}